.reservation__breadcrumbs {
	text-align: center;
	padding: 2rem 1.5rem;
	background-color: $color-white;
	ul {
		display: flex;
		justify-content: center;
		color: $color-gray-text;
		li {
			font-size: 0.75rem;
			&:before {
				content: counter(breadcrumbs);
				display: block;
				box-sizing: border-box;
				height: 1.9rem;
				width: 1.9rem;
				line-height: 1;
				font-size: 0.75rem;
				padding-top: calc( (1.9rem - 0.75rem) / 2 - 0.25rem);
				margin-bottom: 0.25em;
				background-color: $color-white;
				border: 0.25rem solid $color-gray-border;
				border-radius: 50%;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				z-index: 1;
			}
			&.is-current:before {
				border-width: 0.4rem;
				padding-top: calc( (1.9rem - 0.75rem) / 2 - 0.4rem);
			}
			&.is-previous:before {
				border: none;
				background-color: $color-gray-border;
				content: $icon-tick;
				color: $color-white;
				font-size: 1rem;
				padding-top: calc( (1.9rem - 1rem) / 2);
			}
		}
		&>* {
			counter-increment: breadcrumbs;
			display: block;
			width: 7rem;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: $color-gray-border;
			position: absolute;
			top: calc( (1.9rem - 2px) / 2);
			left: 0;
			z-index: 0;
		}
		:first-child:after {
			width: 50%;
			left: 50%;
		}
		:last-child:after {
			width: 50%;
		}
	}
}
