.do-pobrania-container {
	padding-top: 2rem;

	.files {
		justify-content: center;
		align-items: baseline;

		.file {
			margin: 0 2em 2em 2em;

			@include screen-max-sm {
				img { max-width: 64px; }
			}
		}
	}
}