.reservation__step.reservation__step-dostawa {
	text-align: center;
	.woocommerce-info {
		@include link-with-icon;
		margin-bottom: 3rem;
	}
	.login {
		margin-bottom: 3rem;
		label[for="rememberme"] {
			display: none;
		}
		a {
			text-decoration: underline;
		}
	}
	form input {
		margin-bottom: 0;
	}
	.woocommerce-billing-fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.required-star {
			color: $color-primary;
		}
		.form-row {
			width: 100%;
			margin-top: 1.5rem;
			&:not(.form-row-checkbox).validate-required {
				position: relative;
				&:after {
					color: $color-primary;
					content: "*";
					position: absolute;
					top: 50%;
					right: -1em;
					@include transform(translateY(-50%));
				}
			}
		}
	}
	#billing_city_field {
		width: 47.5%;
		margin-left: 2.5%;
	}
	#billing_postcode_field {
		width: 47.5%;
		margin-right: 2.5%;
	}
	.form-row {
		a {
			color: $color-primary;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}

.reservation__step.reservation__step-dostawa {
	.podsumowanie-row {
		text-align: left;
		margin-top: 3rem;
		font-size: 0.8rem;
		h1 {
			margin-bottom: 3rem;
		}
		input,
		select,
		textarea {
			text-align: left;
		}
		textarea {
			height: 10rem;
			max-width: 100%;
		}
		h3 {
			font-weight: normal;
			padding-left: 2em;
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}
	.woocommerce-checkout-payment {
		#place_order {
			display: none;
		}
	}
	.woocommerce-checkout-review-order {
		.labels {
			margin-top: 1em;
			margin-bottom: 1em;
			line-height: 1.2;
			.value {
				color: $color-black;
				font-weight: bold;
			}
		}
		table.woocommerce-checkout-review-order-table {
			text-align: left;
			border: none;
			td,
			th {
				border: none;
				padding: 0;
			}
			tr {
				display: flex;
				justify-content: space-between;
				padding: 0.25em 0;
				.product-total {
					text-align: right;
				}
			}
			tbody,
			tfoot {
				display: block;
				width: 100%;
				border-top: 1px solid $color-gray-border;
				padding: 0.5em 0;
			}
			.cart-subtotal,
			.shipping,
			.fee,
			.order-total {
				line-height: 1;
				th {
					font-weight: bold;
					&:after {
						content: ':';
					}
				}
			}
			.order-total {
				th {
					text-transform: uppercase;
				}
				td {
					text-align: right;
				}
				strong {
					color: $color-primary;
					font-size: 1.1rem;
				}
				.includes_tax {
					font-size: 0.8rem;
					display: inline-block;
					width: 100%;
					.amount {
						display: none;
					}
				}
			}
			thead,
			del,
			.subtitle,
			.variation {
				display: none;
			}
		}
		.woocommerce-checkout-payment {
			border-top: 1px solid $color-gray-border;
			padding: 0.5em 0;
			input[type="checkbox"]+label,
			input[type="radio"]+label {
				margin-left: 0;
			}
		}
	}
	.white-box {
		border-radius: $br-input;
		background-color: $color-white;
		padding: 2.5em 3.5em;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
	.rezerwacja {
		line-height: 1.2;
		strong {
			color: $color-black;
		}
	}
}
