.rezerwacja-daty {

	text-align: center;

	.custom-date {

		&-intro {
			margin-bottom: 2rem;
		}

		&-input-container { display: none; } 
		
		@include link-with-icon;
	}

	
	.availabilities {
		justify-content: center;
	}

	.availability {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		input[type="radio"] + label {
			font-size: 0.8rem;
			text-align: center;

			margin: 0;
			padding: 1em;
			width: 100%;
			overflow: hidden;

			background-color: $color-white;
			border-radius: $br-input;

			&.no-padding {
				padding: 0;
			}

			> input {
				width: 100%;
				padding: 1em;
				margin: 0;
				border: none;
				text-align: center;

				&:hover {
					color: $color-white;
					background-color: $color-gray-text-label;
				}
			}

			&:before, &:after {
				display: none;
			}

			&:hover {
				color: $color-white;
				background-color: $color-gray-text-label;
			}
		}

		input[type="radio"]:checked + label {
			color: $color-white;
			background-color: $color-primary;

			> input {
				color: $color-white;
				background-color: $color-primary;
			}
		}
	}

	.delivery-type {
		margin-top: 1em;

		label {
			max-width: 20rem;
			text-align: left;

			strong {
				font-size: 0.9rem;
				display: inline-block;
				float: left;
				margin-right: 0.2em;
			}
		}
	}
}
