.pp {
	text-align: center;
	&__intro {
		margin-bottom: 2.5rem;
	}
	.products {
		.product {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 0;
			&__wrap {
				padding: 1em 0.5em;
				margin: 0.5em -0.5em;
				background-color: $color-white;
				border-radius: $br-input;
				img {
					max-width: 90%;
				}
				h3 {
					font-size: 1.1rem;
					margin-top: 0.5em;
					color: $color-black;
				}
				.price {
					font-size: 1.1rem;
					margin-top: 0;
				}
				.cart {
					margin-top: 1.5em;
					.quantity {
						width: 100%;
						margin: 0;
						input {
							max-width: 5em;
							padding: 0.25em 0.625em;
							margin: 0;
						}
					}
					.button.single_add_to_cart_button {
						@include btn;
						color: $color-primary;
						padding-left: 2rem;
						padding-right: 2rem;
						margin-top: 1.5em;
						&:hover {
							color: $color-primary;
							border-color: currentColor;
						}
					}
				}
			}
		}
	}
}
