html .mceContentBody{direction:rtl;unicode-bidi:embed}li{margin:0 24px 0 0;margin:0 1.714285714rem 0 0}dl{margin:0 24px;margin:0 1.714285714rem}td,tr th{text-align:right}td{padding:6px 0 6px 10px}.wp-caption{text-align:right}
/*# sourceMappingURL=editor-style-rtl.css.map */
