@import './assets/css/core';

html .mceContentBody {
	max-width: 780px;
	padding-left: 1em !important;
	padding-right: 1em !important;
}


/* =Wypożyczalnia custom styles
-------------------------------------------------------------- */

@import './assets/css/atoms';
@import './components/common/contents/tekst/style';
