.reservation__nav {
	border-top: 1px solid $color-gray-text-faq;
	padding-top: 1.5rem;
	margin-top: 3rem;

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;

		.btn {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		a:not(.btn) {
			text-decoration: underline;
		}

		.next {
			font-weight: bold;
			font-size: 1rem;
			margin-left: auto;
		}

		.prev {
			margin-right: 1rem;
		}

		@include screen-max-sm {
			.btn {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}

			.next {
				order: -1;
			}
		}
	}
}

.woocommerce-order-received .reservation__step {
	.reservation__nav,
	.order_details,
	header,
	.customer_details,
	address,
	h2
 	{
		display: none;
	}
}
