.header {
	padding-top: 2rem;
	padding-bottom: 2rem;

	font-size: 0.8rem;
	text-transform: uppercase;

	&.inverted { background-color: $color-primary; }

	&__contact {
		text-align: center;

		@include screen-max-sm {
			order: 1;
			width: 100%;
		}
	}
	

	&__cart-summary {
		order: 2;
		text-align: center;
		width: 100%;
		padding: 1em 1em 0 1em;

		@include screen-min-md {
			width: auto;
			position: absolute;
			top: -2rem;
			right: 0;
		}
	}

	@include screen-max-sm {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

