.tani-wynajem {
	min-height: 53vw;

	.wrap {
		height: 19rem;
		width: 19rem;

		padding: 1em;
		margin-top: 3em;

		background-color: rgba($color-white, 0.75);
		border-radius: 50%;

		justify-content: center;

		h1 {
			font-size: 1.3rem;
			line-height: 1;

			strong {
				font-size: 6.15em;
				text-transform: none;
				display: inline-block;
			}
		}

		p { margin-top: -1em; }
	}
}