.section {
	padding-top: 4.5rem;
	padding-bottom: 3rem;

	text-align: center;

	&--black {
		background-color: $color-black;
		background-image: url('img/logo-mark-dark.png');
		background-size: 875px;
		background-repeat: repeat-x;
		background-position: 50% 50%;

		color: $color-white;

		&-pure {
			color: $color-white;
			background-color: $color-black;
		}
	}

	&--red {
		background-color: $color-primary;
		color: $color-white;
	}

	&--img {
		background-color: $color-white;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&-dark { color: $color-white; }
	}

	.btn { margin-bottom: 1em; }

	.xsmall {
		font-size: 0.65em;
		margin-top: 1em;
	}
}
