* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

::-webkit-input-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }

html {
    font-size: 20px;

    min-width: 320px;

	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;

    @include screen-max-sm {
        font-size: 15px;
    }
}

body {
    position: relative;

    min-width: 320px;

    font-family: $font-primary;
    font-size: 0.9rem;
    letter-spacing: 0.015em;
    line-height: 1.6;

	color: $color-black;
    background: $color-white;
    overflow-x: hidden;

    &.wait * {
        cursor: progress !important;
    }
}

::-moz-selection,
::selection {
    background: $color-primary;
    color: $color-white;
    text-shadow: none;
}

section {
    &.title {
        padding-top: 4.5rem;
        margin-bottom: 3.5rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

del {
    position: relative;
    display: inline-block;

    text-decoration: none;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: calc( 100% + 0.2em);
        height: 0.1em;
        background-color: $color-black;
        top: 50%;
        left: 50%;

        @include transform(translateX(-50%) translateY(-50%));
    }

    ins {
        position: absolute;
        top: calc( 50% + 1.35em );
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));

        font-size: 0.78em;
        color: $color-black;

    }
}

ins {
    text-decoration: none;
    font-weight: bolder;
}

code, pre {
    display: block;
    padding-left: 1em;
    text-align: left;

    font-family: monospace, sans-serif;
    line-height: 1;
}

small, sub, sup { font-size: 0.6em; }
sub { vertical-align: sub; }
sup { vertical-align: super; }

h1, p.h1, .h1 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.11;
}

h2, p.h2, .h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.11;
}

h3, p.h3, .h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.11;
}

h4, p.h4, .h4 {
    font-size: 0.9rem;
    color: $color-primary;
    line-height: 1.11;
}

p {
    margin-top: 1em;

    &.xsmall { font-size: 0.675em; }
    &.small { font-size: 0.8em; }
    &.lg { font-size: 1.2em; }
    &.xlg { font-size: 1.4em; }

    &.disclaimer {
        font-weight: 300;

        color: rgba($color-black, 0.4);
    }
    &.intro {
        font-size: 1.35em;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

table {
    text-align: center;
    width: 100%;
    max-width: 100%;

    display: block;
    overflow-x: auto;
    border: 1px solid $color-gray-border;

    td, th {
        padding: 1.5em 3.5em;
        border: 1px solid $color-gray-border;
    }
}

strong { font-weight: bolder; }

em {
    font-weight: lighter;
    font-style: italic;
}

a, .link {
    color: inherit;
    text-decoration: none;
    @include transition(color 300ms ease-in);

    &:hover {
        color: $color-primary;
    }
}

.inverted {
    color: $color-white;

    a, .link {
        color: $color-white;

        &:hover {
            color: $color-black;
        }
    }
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, textarea, select, option {
    font-family: $font-primary;
}

// Reset `button` and button-style `input` default styles
input[type="button"],
button:not(.slick-arrow) {
    background: none;
    border: 0;
    color: inherit;
    outline: 0 !important;

    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;

    @include btn;
}
input[type="date"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
select option { @include input; }

input[type="checkbox"],
input[type="radio"] {
    display: none;

    & + label {
        display: inline-block;
        position: relative;

        font-size: 0.9em;

        cursor: pointer;

        padding-left: 2em;
        margin-bottom: 0.5em;
        margin-left: 1.5em;
    }

    & + label:before {
        @include input-schema;

        content: '';

        position: absolute;
        top: 0.1em;
        left: 0;

        height: 1.375em;
        width: 1.375em;
    }

    & + label:after {
        content: '';

        position: absolute;
        top: 0.6em;
        left: 0.5em;

        color: $color-primary;
        display: block;
    }
    &:not(:checked) + label:after {  }
}
input[type="radio"] {
    & + label:before { border-radius: 50%; }

    &:checked + label:after {
        height: 0.5em;
        width: 0.5em;
        background-color: currentColor;
        border-radius: 50%;
    }
}

input[type="checkbox"] {

    &:checked + label:after {
        @include icon;
        content: $tick;
        font-size: 0.75em;
        top: 0.65em;
        left: 0.55em;
    }
}

a, .btn, button {
    @include transition((color 300ms ease-in, background 300ms ease-in, border 300ms ease-in));
}

a.btn, .btn {
    @include btn;
}

a.btn, .btn {
    &--primary {
        @include btn--primary;
    }
    &--fill {
        @include btn--fill;
    }
}

.notif {
    position: relative;

    &, & * { cursor: help; }

    &:before {
        position: absolute;
        left: -1.75rem;
        top: 50%;
        @include transform(translateY(-50%));

        content: '?';
        display: block;
        box-sizing: border-box;

        font-size: 0.65rem;
        color: $color-gray-btn;
        text-align: center;

        height: 1rem;
        width: 1rem;

        border: 1px solid currentColor;
        border-radius: 50%;
    }

    &--after:before {
        left: auto;
        right: -1.75rem;
    }
}

.notif-popup {
    position: fixed;
    top: 5rem;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 999999;

    max-width: 52.5rem;
    width: 100%;

    background-color: $color-gray-text-label;
    color: $color-white;

    .wrap {
        position: relative;
        padding: 2rem;
    }

    .notif-content {
        text-align: left;
        margin-left: auto;
        margin-right: auto;

        padding-left: 9rem;
        padding-right: 9rem;

        @include screen-max-sm {
            padding-left: 4rem;
            padding-right: 1rem;
        }

        font-size: 0.8rem;

        h3 { font-size: 0.9rem; }

        .notif-close {
            position: absolute;
            top: 1rem;
            right: 1rem;

            height: 2rem;
            width: 2rem;
            display: block;

            background-color: $color-white;
            color: $color-gray-text-label;

            border-radius: 50%;
            cursor: pointer;

            &:before,
            &:after {
                content: "";
                display: block;
                width: 50%;
                height: 2px;
                background-color: $color-gray-text-label;

                position: absolute;
                top: 45%;
                right: 27.5%;
                // @include transform((translateY(-50%) translateX(-50%)));
            }

            &:before { @include transform(rotate(45deg)); }
            &:after { @include transform(rotate(-45deg)); }
        }

        &:before {
            content: "?";
            color: $color-white;

            font-size: 2.25rem;
            font-weight: bold;
            text-align: center;

            display: block;
            box-sizing: border-box;
            height: 1.67em;
            width: 1.67em;

            position: absolute;
            left: 3rem;
            top: 50%;
            @include transform(translateY(-50%));

            @include screen-max-sm { left: 1.25rem; }

            border: 0.1em solid currentColor;
            border-radius: 50%;
        }
    }
}