.flexbox-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	&.row {
		&:after,
		&:before {
			display: none;
		}
	}
}

.flexbox-wrap {
	flex-wrap: wrap;
	&-lg {
		@include screen-max-lg {
			flex-wrap: wrap;
		}
	}
	&-md {
		@include screen-max-md {
			flex-wrap: wrap;
		}
	}
	&-sm {
		@include screen-max-sm {
			flex-wrap: wrap;
		}
	}
	&-xs {
		@include screen-max-xs {
			flex-wrap: wrap;
		}
	}
}

.flexbox-stretch {
	align-items: stretch;
}

.flexbox-center {
	justify-content: center;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.position-static {
	position: static;
}

.columns {
	text-align: left;
	font-size: 0.8rem;
	display: flex;
	flex-wrap: wrap;
	h2,
	.h2 {
		font-size: 0.9rem;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	@include styled-list;
	div:not(.product-description) li {
		text-transform: uppercase;
		color: $color-gray-text-on-black;
	}
}

.col-border {
	@include screen-min-sm {
		border-color: currentColor;
		border-style: solid;
		> :first-child {
			margin-top: 0;
		}
		&--after {
			border-right-width: 2px;
			padding-right: 1em;
			margin-right: -2px;
		}
		&--before {
			border-left-width: 2px;
			padding-left: 3em;
			margin-right: 2px;
		}
	}
	@include screen-max-xs {
		&--after:after {
			border-bottom: 2px solid currentColor;
			content: '';
			display: block;
			margin-top: 2em;
			margin-bottom: 1em;
		}
	}
}
