@mixin screen-xs() {
	@media all and (max-width: $screen-xs-max) { @content; }
}

@mixin screen-sm() {
	@media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content; }
}

@mixin screen-md() {
	@media all and (min-width: $screen-md) and (max-width: $screen-md-max) { @content; }
}

@mixin screen-lg() {
	@media all and (min-width: $screen-lg) { @content; }
}

@mixin screen-max-xs() {
	@media all and (max-width: $screen-xs-max) { @content; }
}

@mixin screen-max-sm() {
	@media all and (max-width: $screen-sm-max) { @content; }
}

@mixin screen-max-md() {
	@media all and (max-width: $screen-md-max) { @content; }
}

@mixin screen-max-lg() {
    @media all and (max-width: $screen-lg-max) { @content; }
}

@mixin screen-min-sm() {
	@media all and (min-width: $screen-sm) { @content; }
}

@mixin screen-min-md() {
	@media all and (min-width: $screen-md) { @content; }
}

@mixin screen-min-lg() {
	@media all and (min-width: $screen-lg) { @content; }
}

@mixin screen-min-xl() {
	@media all and (min-width: $screen-xl) { @content; }
}

@mixin screen-min-xxl() {
	@media all and (min-width: $screen-xxl) { @content; }
}

@mixin screen-min-width($width) {
	@media all and (min-width: #{$width}) { @content; }
}

@mixin screen-max-width($width) {
	@media all and (max-width: #{$width}) { @content; }
}

@mixin screen-width-between($min, $max) {
	@media all and (min-width: $min) and (max-width: $max) { @content; }
}

@mixin screen-min-height($height) {
	@media all and (min-height: #{$height}) { @content; }
}

@mixin screen-max-height($height) {
	@media all and (max-height: #{$height}) { @content; }
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
          transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
          transform: $transform;
}

@mixin input-placeholder() {
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
        @content;
    }
}

@mixin clear-float() {
	&:before {
		display: table;
		content: '';
	}
    &:after {
        clear: both;
    }
}

@mixin input-schema {
    line-height: 1;
    text-decoration: none;
    display: inline-block;

    background-color: $color-white;

    border-top: 1px solid $color-gray-border-input;
    border-left: 1px solid $color-gray-border-input;

    border-bottom: 1px solid lighten($color-gray-border-input, 12);
    border-right: 1px solid lighten($color-gray-border-input, 12);

    border-radius: $br-input;
}

@mixin input() {
    padding: 1.3em;
    
    width: 100%;

    font-size: 0.9rem;

    color: $color-gray-text;
    @include input-placeholder { color: $color-gray-text; }

    @include input-schema;    
}

@mixin rounded-input() {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-left: 3em;
    padding-right: 3em;

    display: inline-block;

    font-size: 0.8rem;
    line-height: 1;
    text-decoration: none;

    border: 1px solid currentColor;
    border-radius: 3em;
}

@mixin not-btn() {
    @include rounded-input;

    padding: 0.625em;
    border: none;

    text-transform: uppercase;

    color: $color-black;
    background-color: transparent;

    cursor: pointer;

    &:hover {
        color: $color-primary;
        background-color: transparent;
    }
}

@mixin not-btn--primary() {
    color: $color-primary;

    &:hover {
        color: $color-black;
        background-color: transparent;
    }
}

@mixin btn() {
	@include rounded-input;

    text-transform: uppercase;

    color: $color-black;
    background-color: transparent;

    cursor: pointer;

    &:not(:disabled):hover {
        color: $color-white;
        background-color: $color-primary;
        border-color: transparent;
    }

    &:disabled {
        cursor: default !important;
    }
}

@mixin btn--primary() {
	border-color: $color-primary;

    .inverted & {
        border-color: $color-white;
        color: $color-white; 

        &:not(:disabled):hover {
            background-color: $color-white;
            color: $color-primary;
        }
    }

    .section--img-dark &,
    .section--black & {
        color: $color-white;
    }
}

@mixin btn--fill() {
	background-color: $color-gray-btn;
    border-color: transparent;
    color: $color-white;

    &:disabled {
        background-color: lighten($color-gray-btn, 15) !important;
        color: $color-white !important;
    }

    &.btn--primary {
        background-color: $color-primary;
        &:not(:disabled):hover {
            background-color: $color-gray-btn;
        }

        .inverted & {
            background-color: $color-white;   
        }
    }
}

@mixin reset() {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;

    line-height: 1;
    font-size: 1em;
    text-transform: none;
    text-decoration: none;

    background: none;
    color: initial;
}

@mixin icon() {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wypozyczalnia-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin styled-list() {
    ul, ol {
        padding-left: 1em;

        li { margin-top: 1em; } 
    }

    ol, ol ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    ol ol ol {
        list-style-type: lower-latin;
    }

    ul {
        li {
            position: relative;
            padding-left: 2.25em;

            &:before {
                content: '\2022';

                color: $color-primary;

                position: absolute;
                left: 0;
            }
        }
    }
}

@mixin link-with-icon() {
    a span { text-decoration: underline; }
    i {
        font-size: 1.25rem;
        bottom: -0.25rem;
        position: relative;
        color: $color-gray-btn;
    }
}
