// Fonts
$font-primary: 'Lato', sans-serif;

// Colors
$color-primary: #bf1f24;
$color-white: white;
$color-black: black;
$color-gray-btn: #999999;
$color-gray-bg: #f0f0f0;
$color-gray-text: #666666;
$color-gray-text-label: #404040;
$color-gray-text-faq: #cccccc;
$color-gray-text-on-black: #d4d4d4;
$color-gray-border: #bfbfbf;
$color-gray-border-input: #d9d9d9;
$color-gray-quotationmark: #919191;
$color-green: #63984d;
$color-gray-remove-btn: #e2e2e2;
$color-gray-input-border: #acacac;
$color-gray-variation: #737373;

// Screen breakpoints
$screen-xs: 501px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1390px;

$screen-xxs-max: 	$screen-xs - 1;
$screen-xs-max:	 	$screen-sm - 1;
$screen-sm-max: 	$screen-md - 1;
$screen-md-max:		$screen-lg - 1;
$screen-lg-max:		$screen-xl - 1;

// Icons
$icon-tick: '\2714';

// Border radius
$br-input: 0.25rem;