#cookie-notice {
	min-width: initial;
	max-width: 100%;
	width: 100%;
	left: 0;
	right: 0;
	.cookie-notice-container {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 0.75rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 60rem;
		.cn-set-cookie {
			margin-left: 2rem;
			@include btn;
			@include btn--fill;
		}
		#cn-more-info {
			margin-left: 3rem;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.7em;
		}
		#cn-notice-text {
			@include screen-max-xs {
				display: block;
				margin-bottom: 0.5em;
			}
			a {
				color: $color-primary;
				text-decoration: underline;
			}
		}
		#cn-more-info,
		.cn-set-cookie {
			@include screen-max-xs {
				margin-left: 1em;
				margin-right: 1em;
			}
		}
		#cn-accept-cookie {
			margin: 1em auto 0 auto;
			display: inline-block;
			width: auto;
		}
	}
}

.slick-slider {
	.slick-slide img {
		display: initial;
	}
	.slick-track {
		margin-left: auto;
		margin-right: auto;
	}
	.slick-arrow {
		color: transparent;
		background: transparent;
		border: none;
		padding: 0;
		margin: 0;
		height: 2em;
		width: 1em;
		display: block;
		z-index: 9999;
		cursor: pointer;
		&:before {
			@include icon;
			color: $color-black;
		}
		&.slick-next:before {
			content: $strzalka-prawo;
		}
		&.slick-prev:before {
			content: $strzalka-lewo;
		}
		font-size: 2.5rem;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		&:before {
			color: $color-primary;
		}
		&.slick-next {
			right: 0;
		}
		&.slick-prev {
			left: 0;
		}
	}
}

.ui-datepicker table {
	display: table;
	border: initial;
}

.ui-widget.ui-widget-content {
	left: 50% !important;
	@include transform(translateX(-50%));
}

.pp_woocommerce {
	div.ppt {
		display: none !important;
	}
}
