.woocommerce {
	.button {
		@include btn;
	}
	&-breadcrumb {
		display: none;
	}
	&-message,
	&-notice,
	&-error {
		text-align: center;
		background-color: $color-primary;
		color: $color-white;
		padding: 1em;
		margin: 0.5rem auto;
		.button {
			margin-right: 2em;
		}
		a {
			@include btn;
			@include btn--primary;
			border-color: currentColor;
			margin-left: 2em;
		}
	}
	.images {
		text-align: center;
		.woocommerce-main-image {
			display: flex;
			height: 20rem;
			width: 20rem;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			img {
				margin: auto;
			}
		}
		.thumbnails {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.zoom {
				width: 33.3333%;
				display: block;
				padding: 0.5em;
				margin-top: 2em;
				@include screen-max-xs {
					margin-top: 1em;
				}
			}
		}
	}
	.price {
		font-size: 1.4rem;
		color: $color-primary;
		&-label {
			color: $color-black;
		}
		.woocommerce-Price-currencySymbol {
			&:before {
				content: " ";
			}
		}
		.woocommerce-price-suffix {
			display: block;
			color: $color-black;
			font-size: 0.57em;
			margin-top: -0.5em;
		}
	}
	.cart {
		margin-top: 2em;
		.quantity {
			display: inline-block;
			margin-right: 1em;
			input {
				max-width: 4em;
				padding: 0.625em;
				text-align: right;
			}
		}
		.button {
			@include btn--primary;
			color: $color-primary;
			font-size: 1.25em;
		}
	}
	.products {
		margin-top: 4.5rem;
		&.slick-slider {
			.product {
				margin-bottom: 0;
			}
		}
		.page-template-home-page & {
			margin-top: 0;
		}
		.product {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			margin-bottom: 4.5rem;
			img {
				max-height: 15rem;
				height: auto;
				width: auto;
			}
			h3 {
				font-size: 1.2rem;
				line-height: 1.1667;
				text-transform: none;
				font-weight: 400;
				min-height: 2.35em;
				margin-top: 1.5em;
			}
			.price {
				display: block;
				margin-top: 1em;
				.woocommerce-price-suffix {
					display: none;
				}
			}
			.buttons {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: baseline;
			}
			.button {
				@include not-btn;
				margin-top: 2em;
				border: 1px solid black;
				padding-left: 1em;
				padding-right: 1em;
				&:hover {
					border-color: currentColor;
					color: $color-primary;
				}
				&.more_info_button {
					&:hover {
						background-color: $color-black;
						color: $color-white;
					}
				}
				&.add_to_cart_button,
				&.btn--primary {
					border-color: $color-primary;
					color: $color-primary;

					&:hover {
						background-color: $color-primary;
						color: white;
					}
				}
			}
		}
	}
	.form-row {
		&.no-label label {
			display: none;
		}
	}
}

.single-product {
	.product_title {
		text-align: left;
	}
	.product-gallery {
		@include screen-max-xs {
			order: 2;
			&:after {
				display: none;
			}
			&:before {
				content: "";
				display: block;
				border: 1px solid currentColor;
				margin-top: 2em;
				margin-bottom: 3em;
			}
		}
	}
	.product_meta {
		display: none;
	}
	&.postid-315 {
		.quantity,
		.single_add_to_cart_button {
			display: none;
		}
	}
}

.woocommerce-invalid-required-field,
.woocommerce-invalid {
	position: relative;
	&:before {
		position: absolute;
		color: $color-primary;
		text-align: center;
		content: "";
		width: 100%;
		top: 0.25em;
		left: 0;
		font-size: 0.75em;
	}
	input,
	textarea,
	select,
	label {
		box-shadow: 0px 0px 5px rgba($color-primary, 0.25);
	}
	&.form-row-checkbox:before {
		top: -1.25em;
	}
}

.woocommerce-invalid:before {
	content: "Niepoprawny format";
}

.woocommerce-invalid-required-field:before {
	content: "To pole jest wymagane";
}

.woocommerce-account .woocommerce {
	position: relative;
	height: 100%;
	.row {
		min-height: 100vh;
		margin: 0;
	}
	.woocommerce-EditAccountForm,
	.woocommerce-EditAddressForm,
	.woocommerce-LoginForm,
	.woocommerce-ResetPassword {
		text-align: center;
		input,
		textarea,
		select {
			background-color: $color-gray-bg;
			text-align: center;
		}
		input[type="submit"] {
			@include btn;
			@include btn--fill;
		}
	}
	.my-acc__nav,
	.my-acc__main {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}
	.my-acc__nav {
		background-color: $color-gray-bg;
		line-height: 2.2222em;
		position: relative;
		@include screen-min-sm {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
		}
		&:before {
			content: '';
			display: block;
			background-color: $color-gray-bg;
			width: 10000px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 100%;
			z-index: -1;
		}
		.is-active {
			font-weight: bold;
		}
	}
	.my-acc__main {
		@include screen-min-sm {
			padding-left: 2rem;
		}
		.hello-user {
			text-align: right;
			margin-bottom: 4rem;
		}
		a {
			text-decoration: underline;
		}
		mark {
			background-color: transparent;
			font-weight: bold;
		}
		h2,
		h3 {
			margin-top: 3em;
			margin-bottom: 1.5em;
		}
		#billing_address_2,
		#billing_company_field {
			display: none;
		}
		.woocommerce-MyAccount-orders,
		.woocommerce-MyAccount-content table {
			border: none;
			text-align: left;
			color: $color-gray-text-label;
			.product-name {
				width: 80%;
			}
			.product-total {
				width: 20%;
			}
			td,
			th {
				padding: 1.5em 2.5em 1.5em 0;
				border: none;
				border-bottom: 1px solid currentColor;
				line-height: 1;
				.button {
					@include not-btn--primary;
					border: none;
					padding: 0;
					text-decoration: none;
				}
			}
		}
	}
}
