/*-------------------------------------------------------------------------------
	WordPress
-------------------------------------------------------------------------------*/

/*----- Alignment -----*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*----- Images -----*/

.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
    max-width: 100%;
    width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.image-attachment div.attachment {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%;
}
.image-attachment div.attachment img {
    display: block;
    height: auto;
    margin: 0 auto 1.625em;
    max-width: 100%;
}
.image-attachment div.attachment a img {
    border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
    border-color: #ddd;
    background: #fff;
}
.image-attachment .entry-caption p {
    letter-spacing: 1px;
    line-height: 2.6em;
    margin: 0 0 2.6em;
    text-transform: uppercase;
}

.entry-header {
    margin: 0 0 25px;
    text-align: center;
}