.faq-page {
	flex-wrap: wrap;

	.faq {
		width: 100%;
		border-bottom: 1px solid $color-gray-border;
		padding: 1rem 0 2.5rem 0;

		.question {
			font-size: 1rem;
			font-weight: bolder;
			cursor: pointer;

			&:before {
				@include icon;

				display: inline-block;
				content: $strzalka-prawo;
				color: $color-primary;
				margin-right: 1em;

				transition: 300ms all;
			}
		}

		.answear {
			display: none;
			margin-top: 2rem;
		}

		&.active {
			.question:before {
				transform: rotate(90deg);
			}
		}
	}
}