.content,
.mceContentBody {

	.xsmall,
	.small,
	.medium,
	.lg,
	.xlg,
	.intro {
		margin-top: 3em;
	}

	& > :first-child {
		margin-top: 0;
	}

	a:not(.btn) {
	    color: $color-primary;

	    text-decoration: underline;

	    &:hover,
	    &:focus,
	    &:active {
	    	color: darken($color-primary, 15);
	    }
	}

	p, img {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 3em;
	}
	table, iframe, ul, ol, code, pre  {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	@include styled-list;
}