.contents--zdjecie {

	.zdjecie {
		position: relative;

		img { 
			display: block;
			margin: 0 auto;
		}

		.caption {
			@include screen-min-sm {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;

				@include transform(translateY(-50%));
			}

			@include screen-max-sm { margin-top: 2em; }

			figcaption {
				padding: 2rem 1.5rem;

				border-radius: 0.75rem;
				background-color: rgba($color-white, 0.85);
			}
		}
	}
}