/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */

#ebac_reports_select {
  margin: 1em 0;
}

.stock-amount {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 1.2em 0;
  border: 5px solid #FFF;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
}

.stock-amount {
  background: #0074a2;
}

.stock-amount.no-stock {
  background: #b81c23;
}

.stock-amount.low-stock {
  background: #f58345;
}

.reports_picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #0a0a0a;
  position: static;
  z-index: 10000;
  width: 100%;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.reports_picker__holder {
  width: 100%;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Make the holder and frame fullscreen.
 */
.reports_picker__holder,
.reports_picker__frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}
/**
 * The holder should overlay the entire screen.
 */
.reports_picker__holder {
  position: static;
}
/**
 * The frame that bounds the box contents of the picker.
 */
.reports_picker__frame {
  position: static;
  margin: 0;
  min-width: 256px;
  width: 100%;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
@media (min-height: 33.875em) {
  .reports_picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%;
  }
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.reports_picker__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
@media (min-height: 33.875em) {
  .reports_picker__wrap {
    display: block;
  }
}
/**
 * The box contains all the picker contents.
 */
.reports_picker__box {
  background:#FFFFFF;
  display: table-cell;
  vertical-align: middle;
}
@media (min-height: 26.5em) {
  .reports_picker__box {
    font-size: 1.25em;
  }
}
@media (min-height: 33.875em) {
  .reports_picker__box {
    display: block;
    font-size: 1.33em;
    border: 1px solid #DDDDDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  }
}
@media (min-height: 40.125em) {
  .reports_picker__box {
    font-size: 1.5em;
  }
}
/**
 * For `large` screens, transform into an inline picker.
 */

 /* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.reports_picker__box {
  padding: 0 1em;
}

.reports_picker .picker__table tbody {
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
}
/**
 * The days on the calendar
 */
.reports_picker .picker__day {
  box-sizing: border-box;
  padding: 1.5em 50% 1.5em 0;
  font-weight: 200;
  text-align: center;
  position: relative;
}

.reports_picker .picker__day:not(.picker__day--highlighted) {
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}