.ebac-import-table {
	display: none;
}

.column-products {
	width: 20%;
}

.ebac-import-line input {
	width: 100%;
	max-width: 100%;
}

.edit-import {
	width: 14px;
    height: 0;
    padding: 14px 0 0;
    margin: 0 0 0 6px;
    overflow: hidden;
    position: relative;
    color: #999;
    border: 0;
    float: right;
}

.edit-import:after {
	content: "\e603";
	font-family: WooCommerce;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: top;
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.import-edit-actions {
	margin-top: 8px;
}

.column-edit, .column-delete {
	width: 2em;
	vertical-align: middle !important;
}

.delete-import {
	display: block;
  	text-indent: -9999px;
  	position: relative;
  	height: 1em;
  	width: 1em;
  	margin: auto;
}

.delete-import:before {
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "";
	content: "\e013";
	color: #999;
}

.picker__table td {
	font-size: 16px;
}