.faqs {
	font-size: 1rem;
	position: relative;

	.faq {

		.question, .answear {
			max-width: 35rem;
			margin: auto;
			padding-left: 2.5rem;
			padding-right: 2.5rem;

			box-sizing: content-box;
		}

		.question {
			font-weight: bold;
		}

		.answear {
			margin-top: 2rem;
			font-size: 0.75em;
			color: $color-gray-text-faq;

			@include screen-max-sm { font-size: 0.85em; }
		}
	}
}