.reviews {

	.review {
		font-size: 0.9rem;

		padding-left: 2.5rem;

		position: relative;

		&:before {
			@include icon;

			content: $znak-cytatu;
			position: absolute;
			top: 5rem;
			left: 0;

			color: $color-gray-quotationmark;

			font-size: 1.75rem;
		}

		.photo {
			width: 5rem;
			height: 5rem;

			overflow: hidden;
			border-radius: 50%;

			margin: auto;
		}

		.text { font-style: italic; }
		.name { margin-top: 1.2em; }
	}
}