.reservation__step-koszyk {
	section.title {
		margin-bottom: 0;
	}
	.woocommerce {
		.section-header {
			margin-top: 2em;
			margin-bottom: 2em;
			text-align: center;
			color: $color-black;
		}
	}
	.woocommerce table.shop_table {
		border: none;
		overflow: initial;
		display: block;
		text-align: left;
		td,
		th {
			border: none;
			padding: 0;
		}
		thead {
			display: none;
		}
		tbody {
			width: 100%;
			display: block;
		}
		&.cart {
			tr:last-child {
				display: none;
			}
		}
		tbody tr {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			background-color: $color-white;
			border-radius: $br-input;
			width: 100%;
			min-height: 5rem;
			margin-top: 1rem;
			padding: 0.5rem 1.5rem 0.5rem 0.5rem;
			font-size: 1rem;
			line-height: 1;
			.subtitle,
			.variation {
				font-size: 0.7rem;
				color: $color-gray-variation;
				display: inline-block;
				width: calc( 100% - 2em); // fix for &nbsp; appearing in code
				* {
					display: inline-block;
				}
			}
			td,
			th {
				padding: 0 0.5em;
			}
			// &.cart_item--limited {
			// 	.product-name {
			// 		width: calc( 100% - 27rem + 9rem);
			// 	}
			// 	.product-quantity {
			// 		display: none;
			// 	}
			// }
			.product-remove {
				order: 1000;
				width: 2rem;
				text-align: right;
				a {
					display: block;
					height: 1em;
					width: 1em;
					border-radius: $br-input;
					background-color: $color-gray-remove-btn;
					font-size: 2rem;
					line-height: 1;
					text-align: center;
					margin-left: auto;
				}
			}
			.product-thumbnail {
				width: 6rem;
			}
			.product-name {
				width: calc( 100% - 27rem);
				color: $color-black;
			}
			.product-price {
				display: none;
			}
			.product-quantity {
				width: 9rem;
				text-align: right;
				.quantity {
					margin: 0;
				}
				input {
					margin: 0;
					font-size: 0.85rem;
					padding: 0.55em;
					width: 6.4em;
					max-width: initial;
					border: 1px solid $color-gray-input-border;
				}
			}
			.product-subtotal {
				width: 10rem;
				font-size: 1.4em;
				color: $color-primary;
				del {
					font-size: 0.65em;
					color: $color-gray-variation;
					text-decoration: line-through;
					display: block;
					margin-bottom: 0.2em;
					&:after {
						display: none;
					}
				}
			}
			&.cart_item {
				@include screen-max-sm {
					text-align: center;
					.product-thumbnail>img {
						max-width: 90px;
					}
					.product-thumbnail,
					.product-name,
					.product-subtotal {
						width: 100%;
					}
				}
			}
		}
	}
	.cart_totals {
		table.shop_table tbody {
			tr th {
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5em 0;
				&:after {
					content: ":";
				}
			}
			.cart-subtotal,
			.fee {
				font-size: 1.2rem;
			}
			.order-total {
				display: flex !important;
				font-size: 1.6rem;
				font-weight: bold;
				padding-right: 0.5rem;
				max-width: 25rem;
				margin-left: auto;
				th {
					font-size: 1.6rem;
					&:after {
						content: ":";
					}
				}
				strong {
					color: $color-black;
				}
				.includes_tax {
					font-size: 0.5em;
					font-weight: 400;
					.amount {
						display: none;
					}
				}
			}
		}
		.wc-proceed-to-checkout {
			display: none;
		}
	}
}
