.section__intro {
	font-size: 1rem;
	
	margin-bottom: 4rem;
	padding-left: 1em;
	padding-right: 1em;

	* {
		line-height: 1.15;
	}

	.btn { margin-top: 0.5em; }

	p {	margin-top: 1.5em; }

	&--small {
		@include screen-min-md { margin-bottom: 0; }
	}

	del { margin-bottom: 1em; }

	.none-container & { margin-bottom: 0; }
}