.jak-to-dziala {
	font-size: 1rem;

	margin-bottom: 2rem;

	.item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&__icon {
			font-size: 4rem;
			background-color: $color-primary;
			color: $color-white;
			border-radius: 50%;
			width: 1.75em;
			height: 1.75em;
			position: relative;
			margin-left: auto;
			margin-right: auto;

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translateX(-50%) translateY(-50%));
			}
		}

		.label {
			margin-top: 1em;
			margin-bottom: 1em;
			line-height: 1;
			width: 100%;
			order: 1;

			@include screen-min-md {

				&--top {
					width: 100%;
					order: -1;
				}

				&--left {
					order: -1;
					max-width: 8em;
				}

				&--right {
					max-width: 8em;
				}

			}
		}

		&__link {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			&:hover {
				.item__icon { color: $color-white; }
			}
		}
	}

	.arrow {
		font-size: 5rem;

		.icon {
			display: block;
			height: 1em;
			width: 1em;
			margin: auto;
		}
	}

	@include screen-max-xs {
		.arrow {
			font-size: 3em;
			padding-top: 2rem;
			padding-bottom: 2rem;

			.icon.arrow-corner {
				@include transform(rotate(90deg));
				&:before {
					content: $strzalka-prawo;
				}
			}
		}
	}

	@include screen-min-sm {
		.arrow-2 .icon { @include transform(rotate(90deg)); }
		.arrow-3 .icon { @include transform(rotate(180deg)); }
		.arrow-4 .icon { @include transform(rotate(270deg)); }
	}

	@include screen-max-xs {
		.blank { display: none; }
		.arrow-4 { display: none; }
	}

	@include screen-min-sm {
		.item__icon {
			margin: 0;
		}

		.label {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		.step-1 { order: 2; }
		.step-2 { order: 6; }
		.step-3 { order: 8; }
		.step-4 { order: 4; }
		.arrow-1 { order: 3; }
		.arrow-2 { order: 9; }
		.arrow-3 { order: 7; }
		.arrow-4 { order: 1; }
		.blank { order: 5; }
	}

	@include screen-md {
		.step-2,
		.step-4 {
			width: 50%;
		}
		.blank { display: none; }
	}
}