@import "variables";

@font-face {
  font-family: 'wypozyczalnia-icon';
  src:  url('#{$icomoon-font-path}/wypozyczalnia-icon.eot?4al3zj');
  src:  url('#{$icomoon-font-path}/wypozyczalnia-icon.eot?4al3zj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/wypozyczalnia-icon.ttf?4al3zj') format('truetype'),
    url('#{$icomoon-font-path}/wypozyczalnia-icon.woff?4al3zj') format('woff'),
    url('#{$icomoon-font-path}/wypozyczalnia-icon.svg?4al3zj#wypozyczalnia-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wypozyczalnia-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-icon {
  &:before {
    content: $cart-icon;
  }
}
.profil {
  &:before {
    content: $profil;
  }
}
.tick {
  &:before {
    content: $tick;
  }
}
.kalendarz {
  &:before {
    content: $kalendarz;
  }
}
.znak-cytatu {
  &:before {
    content: $znak-cytatu;
  }
}
.strzalka-rog {
  &:before {
    content: $strzalka-rog;
  }
}
.logo-znak {
  &:before {
    content: $logo-znak;
  }
}
.strzalka-lewo {
  &:before {
    content: $strzalka-lewo;
  }
}
.strzalka-prawo {
  &:before {
    content: $strzalka-prawo;
  }
}
.cykliniarka {
  &:before {
    content: $cykliniarka;
  }
}
.email {
  &:before {
    content: $email;
  }
}
.myszka {
  &:before {
    content: $myszka;
  }
}
.olowek {
  &:before {
    content: $olowek;
  }
}
.telefon {
  &:before {
    content: $telefon;
  }
}
.pinezka {
  &:before {
    content: $pinezka;
  }
}
.sejf {
  &:before {
    content: $sejf;
  }
}
.gwiazdka {
  &:before {
    content: $gwiazdka;
  }
}
.wozek {
  &:before {
    content: $wozek;
  }
}
.ciezarowka {
  &:before {
    content: $ciezarowka;
  }
}
.ciezarowka-pusta {
  &:before {
    content: $ciezarowka-pusta;
  }
}

