$icomoon-font-path: "assets/fonts" !default;

$cart-icon: "\e93a";
$profil: "\e909";
$tick: "\e908";
$kalendarz: "\e907";
$znak-cytatu: "\e906";
$strzalka-rog: "\e905";
$logo-znak: "\e904";
$strzalka-lewo: "\e900";
$strzalka-prawo: "\e901";
$cykliniarka: "\e902";
$email: "\e903";
$myszka: "\e911";
$olowek: "\e912";
$telefon: "\e913";
$pinezka: "\e914";
$sejf: "\e915";
$gwiazdka: "\e916";
$wozek: "\e917";
$ciezarowka: "\e918";
$ciezarowka-pusta: "\e919";

// cart
// profil
// tick
// kalendarz
// znak-cytatu
// strzalka-rog
// logo-znak
// strzalka-lewo
// strzalka-prawo
// cykliniarka
// email
// myszka
// olowek
// telefon
// pinezka
// sejf
// gwiazdka
// wozek
// ciezarowka
// ciezarowka-pusta
