.nav--footer {
	font-size: 0.7rem;
	line-height: 1;
	text-transform: uppercase;

	padding-top: 1.35em;
	padding-bottom: 1.35em;

	border-top: 4px solid $color-white;
	border-bottom: 4px solid $color-white;

	@include screen-max-xs {
		font-size: 1rem;
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: baseline;

		.menu-item {
			display: inline-block;
			margin-top: 0.5em;
			margin-bottom: 0.5em;

			a { padding: 1em; }
		}

		@include screen-max-xs {
			flex-wrap: wrap;

			.menu-item {
				display: block;
				width: 100%;
			}
		}
	}
}