#materialsCalculatorForm {

	.label-block {
		display: block;
		background-color: $color-white;
		color: $color-gray-text;

		border-radius: $br-input;
		padding: 1rem;

		img {
			height: 220px;
		}

		p { margin: 0; }

		.name {
			font-size: 1rem;
			margin-bottom: 1em;
			color: $color-black;
		}

		.price {
			color: $color-primary;
			font-size: 1.4rem;

			del {
				color: $color-gray-text;
				font-size: 0.65em;
				margin-right: 0.25em;

				&:after { background-color: currentColor; }
			}
		}
	}

	.change-choice-btn {
		text-decoration: underline;
		cursor: pointer;
	}

	.select-btn { cursor: pointer; }

	.btn.select-btn { margin-top: 1.9em; }

	.flexbox-container {
		.label-small {
			width: 100%;
		}
	}

	.align-left {
		text-align: left;
		margin-left: auto;
		margin-right: auto;

		label { display: block; }
	}

	.wood {
		margin-bottom: 2.5rem;
	}

	.calculate {
		margin-top: 2.25em;
	}

	#container-discount,
	#container-with-materials,
	#container-without-materials,
	#container-finish,
	#container-enamel,
	label[for="finish-mat"] {
		display: none;
	}
}


.error {
	font-size: 0.7rem;
	background-color: $color-primary;
	color: $color-white;
	padding: 1em;
	opacity: 0;
}