.sprawdz-dostepnosc-container {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;

	.availability-form {
		input {
			@include rounded-input;

			width: 100%;
			text-align: center;
			height: 2.5em;
			margin-top: 0.75em;
			margin-bottom: 0.75em;
			
			border-color: $color-white;

			@include screen-max-xs { height: 3em; }
		}
	}
}