.toggle-menu {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;

	width: 0;

	@include transition(width 300ms ease-in 300ms);

	.wrap-nav {
		position: absolute;
		top: 0;
		right: -35rem;
		bottom: 0;

		max-width: 35rem;
		width: 100%;

		background-color: $color-white;
		background-image: url('img/logo-mark.png');
		background-position: 50% 50%;
		background-size: 875px;
		background-repeat: no-repeat;

		padding: 2.5em 4.5em;

		overflow: hidden;

		text-align: right;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.5em;
		line-height: 2.5em;

		@include transition(right 300ms ease-in);

		@include screen-max-sm {
			padding: 1em;
			max-width: 19rem;
		}

		a:hover { font-weight: 500; }

		.menu {
			margin-top: 2.5em;

			@include screen-max-sm {
				margin-top: 1.5em;
			}
		}
	}

	.wrap-bg {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		z-index: -1;

		background-color: rgba($color-black, 0);

		@include transition(background-color 300ms ease-in);
	}

	&.is-active {
		width: 100%;
		@include transition(width 300ms ease-in);

		.wrap-bg {
			background-color: rgba($color-black, 0.25);
			@include transition(background-color 300ms ease-in 300ms);
		}
		.wrap-nav {
			right: 0;
			@include transition(right 300ms ease-in 300ms);
		}
	}
}