.logo-list {
	font-size: 1rem;
	text-transform: uppercase;
	text-align: left;

	margin-top: 4em;

	@include screen-max-md { text-align: center; }

	.label {
		margin-right: 2.75em;
		white-space: nowrap;

		@include screen-max-md {
			width: 100%;
			margin-bottom: 1em;
			margin-right: 0;
		}
	}

	.logos {
		width: 100%;

		@include screen-max-md { justify-content: center; }
	}

	.logo {
		height: 2em;
		width: auto;
		margin: 1em;
	}
}