.woocommerce .products.slick-slider {
	.product {
		.button.add_to_cart_button {
			border: 1px solid $color-primary;
			font-size: 0.65rem;

			padding-left: 2rem;
			padding-right: 2rem;

			&:hover {
				color: white;
				background-color: $color-primary;
			}
		}
	}
}