.contents--galeria-zdjec {
	margin-bottom: 2rem;

	.galeria-zdjec {
		display: flex;
		flex-wrap: wrap;
	}

	.zdjecie {
		font-size: 0.7rem;
		color: $color-gray-text;
		margin-bottom: 3rem;

		p { margin-top: 0.5em; }

		img { margin: 0; }

		h1, h2, h3, h4, h5 {
			margin-bottom: 1em;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1.5em;

			li {
				width: 50%;
				line-height: 1.15;

				&:before {
					content: $icon-tick;
					display: block;
					height: 1.5em;
					width: 1.5em;

					font-size: 1rem;
					text-align: center;

					color: $color-green;
					border: 1px solid currentColor;
					box-sizing: border-box;

					margin-bottom: 0.5em;
				}
			}
		}

	}
}