.wycena-obliczenia {

	.costs {

		margin-bottom: 2.5rem;

		.cost-label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			height: 3.8rem;

			margin-top: 1em;
			padding: 0 0.5rem;
			background-color: $color-white;
			border-radius: $br-input;

			@include screen-max-xs { padding: 1em 0; height: auto; }

			.name {
				font-size: 0.8rem;
				text-align: left;
				text-transform: uppercase;
				color: $color-black;

				@include screen-max-xs { text-align: center; }
			}

			.value {
				font-size: 0.9rem;
				text-align: right;

				@include screen-max-xs { text-align: center; }

				del {
					text-decoration: line-through;
					&:after, &:before {
						content: none;
					}
				}
				ins {
					color: $color-primary;
					font-size: 1.2rem;
					font-weight: bold;
					margin-left: 0.1em;
				}
			}

			&--rental {
				height: auto;
				padding: 1.5em 0;
				align-items: flex-start;

				font-size: 0.8rem;
				line-height: 1.25;

				@include styled-list;

				ul {
					padding-left: 0;

					li { padding-left: 1.5em; }
				}
			}
		}
	}

	.edit {
		font-size: 0.9rem;
		line-height: 1.25;

		.labels {
			margin-top: 1.2rem;
			font-size: 0.8rem;
		}

		.edit-btn {
			@include reset;

			font-size: 0.9rem;
			text-decoration: underline;
			cursor: pointer;

			margin-top: 1.2rem;

			&:hover {
				color: $color-primary;
			}
		}

		.icon {
			font-size: 1.2rem;
			color: $color-gray-btn;
			margin-left: 0.1em;
		}

	}
}