.nav__toggle {
	font-weight: 300;
	display: inline-block;

	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}
	
	.inline-block { vertical-align: middle; }

	.nav-text {
		color: $color-black;
		margin-right: 1em;

		@include screen-max-sm {
			font-size: 1rem;
			margin-right: 0.5em;
		}

		.inverted & { color: $color-white; }
	}

	.icon-bar {
		display: block;
		height: 0.25rem;
		width: 2rem;

		margin: 0.25rem 0;

		color: inherit;
		background-color: currentColor;

		border-radius: 1em;
	}

	&--close {
		height: 2rem;
		width: 2rem;
		position: relative;

		.icon-bar {
			margin: 0;
			height: 0.05em;
			position: absolute;
			right: 0;
			bottom: 50%;


			@include screen-max-sm {
				width: 1.5em;
			}

			&:nth-child(odd) {
				@include transform(rotate(45deg));
			}
			&:nth-child(even) {
				@include transform(rotate(-45deg));
			}
		}
	}
}
