.contents--kolumny {
	font-size: 1.4rem;
	text-align: center;

	.column {
		margin-top: 2rem;
		margin-bottom: 2rem;

		p {	line-height: 1.425; }

		h3 {
			font-size: inherit;
			color: $color-primary;
		}

		.disclaimer { font-size: 0.7rem; }
	}
}