.reservation__step {
	background-color: $color-gray-bg;
	padding-bottom: 4.5rem;
	color: $color-gray-text;

	.h1 { color: $color-black; }

	.label,
	.label-small {
		color: $color-gray-text-label;
	}

	.label {
		margin-top: 1rem;
		margin-bottom: 2.5rem;
	}

	.label-small {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	form {
		text-align: center;

		input, textarea, select {
			text-align: center;
			margin-bottom: 1.5rem;
		}

		.hidde-input input {
			display: none;
		}


	}
}